/* USER PROFILE */
.UserProfileWrapper {
  display: flex;
  z-index: 2;
  position: relative;
  margin-top: 100px;
}

.ProfileLeft {
  border: 10px solid white;
  width: 300px;
  background: white;
  margin: 0 25px;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.2);
}

.UserData > h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #333;
  letter-spacing: 1.25px;
  margin: 25px 0px;
  font-weight: 600;
}

.UserData > p, .horizontalFlex > p {
  font-size: 15px;
  font-weight: 300;
  color: #666;
  line-height: 23px;
}

.UserData {
  padding: 0 16px;
}

.PhotoWrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 400px;
  overflow: hidden;
}  

.PhotoWrapper > img {
  object-fit: cover;
  height: 400px;
  width: 300px;
}  

.horizontalFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.horizontalFlex > span {
  font-weight: 600;
}

.PlannedMealsRight > hr {
  border: none;
  border-top: .5px #80808080 solid;
  margin: 18px 0;
}

.UserButtons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#ProfileButton {
  margin: 6px 0;
  padding: 14px 0;
  border: none;
  font-size: 16px;
  color: white;
  background: var(--profile-gradient);
  min-width: 225px;
}

.ProfileRight {
  margin: 0 25px;
  position: relative;
  margin-top: 50px;
}

.ProfileRight > h1 {
  color: white;
  font-size: 46px;
  font-weight: 300;
  letter-spacing: 2px;
}

.ProfileRight > p {
  color: rgba(255,255,255,0.8);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-top: 15px;
}

.plannedMeals {
  display: flex;
  flex-direction: row;
  background: var(--profile-gradient);
  padding: 10px;
  margin-top: 90px;
}

.plannedMealsImg {
  width: 310px;
  height: 455px;
  overflow: hidden;
  object-fit: cover;
}

.plannedMealsImg > img {
  width: 100%;
}

.PlannedMealsRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  padding: 30px;
  width: 325px;
  color:#4d4d4d;
}

.PlannedMealsRight > h2 {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.PlannedMealsRight > h3 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 22px;
}

.PlannedMealsRight > p {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 32px;
  line-height: 23px;
}

.SmallH2Bar {
  background: var(--profile-gradient);
  width: 5px;
  height: 50px;
  position: relative;
  float: left;
  top: -10px;
  left: -30px;
}
