.hamburger {
  width:30px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-left: 10px;
}

.NavDrawer {
  background: var(--default-gradient);
  height: 100vh;
}

.NavDrawerProfile{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255,255,255,0.9);
  padding: 5px 40px 10px 40px;
  border-bottom: 1px solid #0071bc;
  margin-bottom: 10px;
}

.ProfilePicWrapper {
  width: 162px;
  height: 162px;
  border-radius: 100%;
  overflow: hidden;
  border: 1px rgba(0,0,0,0.2) solid;
  padding: 5px;
  margin: 10px;
}

.ProfilePicWrapper > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.UserInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
  color: #363636;
  letter-spacing: 2px;
  margin-left:18px;
  margin-bottom: 10px;
}

.UserInfoContainer > h3 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 5px;
}

.UserInfoContainer > p {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  opacity: .5;
}

.MenuItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 400px);
  color: white;
}

.Footer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  bottom: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #e6e6e6;
  width: 100%;
  /* height: 100%; */
  padding: 10px 0;
}

.FooterIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
  padding: 0;
}

.FooterIcons > img{
  box-sizing: content-box;
  padding: 0 10px;
  height: 22px;
}

.Footer > hr {
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  width: 90%;
}

.Copyright {
  padding: 5px;
}

.FooterLegal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-size: 12px;
}