.ModalSwitcher {
  display: flex;
  flex-direction: row;
}

.AddSwitcher-ModalOne {
  position: relative;
  transform: translateX(45vw);
  transition: transform 0.5s ease-in-out;
}

.IngredientsSwitcher-ModalOne {
  position: relative;
  transform: translateX(200vw);
  transition: transform 0.5s ease-in-out;
}

.StepsSwitcher-ModalOne {
  position: relative;
  transform: translateX(200vw);
  transition: transform 0.5s ease-in-out;
}

/* MODAL TWO */

.AddSwitcher-ModalTwo {
  position: relative;
  transform: translateX(-200vw);
  transition: transform 0.5s ease-in-out;
}

.IngredientsSwitcher-ModalTwo {
  position: relative;
  right: 200px;
  transform: translateX(16vw);
  transition: transform 0.5s ease-in-out;
}

.StepsSwitcher-ModalTwo {
  position: relative;
  right: 438px;
  transform: translateX(200vw);
  transition: transform 0.5s ease-in-out;
}

/* MODAL THREE */

.AddSwitcher-ModalThree {
  position: relative;
  transform: translateX(-200vw);
  transition: transform 0.5s ease-in-out;
}

.IngredientsSwitcher-ModalThree {
  position: relative;
  right: 200px;
  transform: translateX(-200vw);
  transition: transform 0.5s ease-in-out;
}

.StepsSwitcher-ModalThree {
  position: relative;
  right: 438px;
  transform: translateX(-6vw);
  transition: transform 0.5s ease-in-out;
}