@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700');

/* Variables */
:root {
  --profile-gradient: linear-gradient(to right, #ae00bf, #cb7167);
  --default-gradient: linear-gradient(to bottom right, #29abe2, #0071bc);
  --calendar-gradient: linear-gradient(to bottom right, #70d185, #0071bc);
  --grey-gradient: linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,0.2));
}

/* ENTIRE APP */
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  width: 100vw;
}

h1 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #333
}

button {
  outline: none;
  cursor: pointer;
}