/* ENTIRE APP */
.App {
  text-align: center;
}

h1 {
  margin: 0px;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px;
}

li {
  list-style-type: none;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: lightblue;
  margin: 0px;
  padding-right: 40px;
}

.hamburger {
  height: 30px;
}

/* LANDING PAGE (HOME COMPONENT) */
.LandingPage {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.WordsDiv {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-top: 30vh;
  margin-left: 60vh;
}

/* BROWSE RECIPES */
.categories {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.categories > p {
  padding: 5px 15px;
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
