@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700');

/* ENTIRE APP */
.App {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0px;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px;
  z-index: 3;
}

li {
  list-style-type: none;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(0,0,0,0.1);
  margin: 0px;
  padding-right: 40px;
}

.hamburger {
  height: 30px;
}

/* LANDING PAGE (HOME COMPONENT) */
.LandingPage {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.WordsDiv {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-top: 30vh;
  margin-left: 60vh;
}

/* BROWSE RECIPES */
.categories {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.categories > p {
  padding: 5px 15px;
  margin: 0;
}

.recipeCardsWrapper {
  background-color: lightgray;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipeCards {
  background-color: lightskyblue;
  margin: 15px;
  width: 400px;
  height: 550px;
}

/* USER PROFILE */
.UserWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.UserHeader {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(#ff9d2f, #ff6126);
  transform: skewY(2deg);
  transform-origin: top right;
  opacity: 0.7;
  z-index: 1;
}

.UserHeader > img {
  width: 100%;
  opacity: 0.1;
  position: relative;
  bottom: 250%;
}

/* USER INFO */
.UserInfoWrapper {
  display: flex;
  background-color: rgba(0, 0, 0, .1);
  width: 75vw;
  height: 800px;
  position: absolute;
  top: 10%;
  z-index: 2;
}

.User {
  border: 10px solid white;
  width: 200px;
  background: white;
  
}

.PhotoWrapper {
  background-color: white;
  height: 200px;
  overflow: hidden;
  width: 200px;
}

.PhotoWrapper > img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.PhotoWrapper > h3 p {

}

.horizontalFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
